.signin-contanier {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .signin-contanier h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .button-control {
    margin-top: 20px;
    text-align: center;
  }
  
  .button-control button {
    margin-right: 30px;
    padding: 8px 16px;
    width: 200px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button-control button:hover {
    background-color: #0056b3;
  }
  .button-control2 {
    margin-top: 20px;
    text-align: center;
  }
  
  .button-control2 button {
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .button-control2 button:hover {
    background-color: #0056b3;
  }